torch
torchvision
torchaudio
torchmetrics
timm
pytorch-lightning
opencv-python-headless
numpy
einops
boto3
omegaconf
lpips
DALL-E
coloredlogs
tensorflow
skorch
pandas
transformers[torch]
https://github.com/podgorskiy/dnnlib/releases/download/0.0.1/dnnlib-0.0.1-py3-none-any.whl

